
/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container2 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Header styles */
header {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 20px 0;
}

/* Library details styles */
.library-details {
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    padding: 20px;
}

.library-details h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.library-info p {
    margin-bottom: 5px;
}

/* Lists styles */
ul {
    list-style-type: none;
    margin-left: 20px;
}

ul li {
    margin-bottom: 5px;
}

/* Footer styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}
